<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.spyneai">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" /> -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_ic"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/app_ic"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fab_Bottom_app_bar"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".draft.ui.DraftsActivity"
            android:exported="true" />
        <activity
            android:name=".draft.ui.DraftSkuDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".draft.ui.DraftSkusActivity"
            android:exported="true" />
        <activity android:name=".orders.ui.activity.ShowRawImagesActivity" />
        <activity android:name=".orders.ui.activity.OngoingSkusActivity" />

        <activity android:name=".processedimages.ui.ProcessedImageActivity" />

        <activity android:name=".orders.ui.activity.CompletedSkusActivity" />
        <activity
            android:name=".threesixty.ui.ThreeSixtyExteriorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".threesixty.ui.ThreeSixtyIntroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shoot.ui.StartShootActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".threesixty.ui.TrimActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".threesixty.ui.ThreeSixtyActivity"
            android:configChanges="screenLayout|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".shoot.ui.base.ShootPortraitActivity"
            android:configChanges="screenLayout|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".shoot.ui.ecomwithgrid.ShowSkuProjectActivity" />
        <activity
            android:name=".shoot.ui.base.ProcessActivity"
            android:screenOrientation="portrait" /> <!-- <activity android:name=".shoot.ui.ShootActivity"></activity> -->
        <activity android:name=".dashboard.ui.YoutubeVideoPlayerActivity" />
        <activity
            android:name=".dashboard.ui.MainDashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loginsignup.activity.ForgotPasswordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loginsignup.activity.SignUpActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loginsignup.activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".credits.FeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".credits.CreditPlansActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".credits.WalletActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.OngoingOrdersActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.YourOrdersActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <service
            android:name=".imagesdowloading.ImageDownloadingService"
            android:enabled="true"
            android:exported="false" />




        <receiver
            android:name=".service.StartReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.OrderSummary2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DownloadingActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".orders.ui.KarviShowImagesActivity"
            android:screenOrientation="portrait"/>

        <service
            android:name=".service.ImageUploadingService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false" />

        <service
            android:name=".service.manual.ManualUploadService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false" />

        <service
            android:name=".threesixty.data.VideoUploadService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false" />


        <receiver android:name=".service.ExplicitConnectionReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.OnboardingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".processedimages.ui.ShowImagesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ShowGifActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GenerateGifActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OrderSummaryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".razorpay.MyMerchantActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BackgroundAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GenerateMarketplaceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OngoingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CompletedActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.OnboardOneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OnboardThreeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".extras.OnboardTwoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ShootSelectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CompletedProjectsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChannelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EditSkuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".extras.MainActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CameraPreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".camera2.Camera2Activity"
            android:screenOrientation="landscape" />
        <activity android:name=".activity.PreviewOrderActivity" />
        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OtpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.IntroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CategoriesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SignInUsingOtpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TimerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".spyneaidemo.activity.CameraDemoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".spyneaidemo.activity.GenerateGifDemoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".spyneaidemo.activity.TimerDemoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".spyneaidemo.activity.ShowImagesDemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".spyneaidemo.activity.ShowGifDemoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".spyneaidemo.activity.camera2.Camera2DemoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> <!-- <activity -->
        <!-- android:name=".orders.ui.MyOrdersActivity" -->
        <!-- android:screenOrientation="portrait" /> -->
        <activity
            android:name=".shoot.ui.base.ShootActivity"
            android:configChanges="screenLayout|keyboardHidden"
            android:screenOrientation="landscape" />
        <activity
            android:name=".orders.ui.MyOrdersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="@string/api_key_razorpay" />

        <provider
            android:name="com.iceteck.silicompressorr.provider.GenericFileProvider"
            android:authorities="${applicationId}.AUTH_SILI_COMPRESS"
            android:exported="false"
            tools:replace="android:authorities" />

        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            tools:ignore="Instantiatable"
            tools:node="merge" />
    </application>

</manifest>