<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.spyneai">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"></uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" tools:ignore="ProtectedPermissions" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- <uses-permission -->
<!--     android:name="android.permission.MANAGE_EXTERNAL_STORAGE"-->
<!--     tools:ignore="ScopedStorage" />-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:name=".BaseApplication"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpyneAi"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <service
            android:name=".service.ProcessImagesService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false">
        </service>

        <receiver android:enabled="true" android:name=".service.StartReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <activity android:name=".activity.YourOrdersActivity"></activity>
        <activity
            android:name=".activity.OrderSummary2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DownloadingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OnboardingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ShowImagesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ShowGifActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GenerateGifActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OrderSummaryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".razorpay.MyMerchantActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BackgroundAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GenrateMarketplaceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OngoingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CompletedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".extras.BeforeAfterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OnboardOneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OnboardThreeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".extras.OnboardTwoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ShootSelectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CompletedProjectsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChannelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EditSkuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".extras.MainActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CameraPreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".camera2.Camera2Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OtpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.IntroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CategoriesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SignInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TimerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".spyneaidemo.activity.CameraDemoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".spyneaidemo.activity.GenerateGifDemoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".spyneaidemo.activity.TimerDemoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".spyneaidemo.activity.ShowImagesDemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".spyneaidemo.activity.ShowGifDemoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".spyneaidemo.activity.camera2.Camera2DemoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="@string/api_key_razorpay" />
    </application>

</manifest>